* {
    font-family: 'Open Sans', sans-serif;
    font-size: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    width: 100%;
}
header {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background: white;
}
header img {
    width: 200px;
}
nav {
    
}
ul {
    list-style: none;
    display: flex;
}
li {
    margin: 0 15px;
}
a {
    text-decoration: none;
    opacity: 0.9;
    color: #191c03;
}
a:hover {
    opacity: 1;
}
@media (max-width: 700px) {
    header {
        display: flex;
        flex-direction: column;
    }
    header img {
        margin-bottom: 15px;
    }
}

.hero {
    background: url(../images/hero.jpg);
    background-size: cover;
    min-height: 100vh;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.hero h1 {
    font-size: 3.2rem;
    margin-bottom: 15px;
}
.hero h2 {
    font-size: 2rem;
    margin-bottom: 15px;
}
.hero .btn {
    background: white;
    border-radius: 4px;
    color: #191c03;
    padding: 20px 50px;
    margin-top: 5%;
    text-transform: uppercase;
}
@media (max-width: 700px) {
    .hero h1 {
        font-size: 2.5rem;
    }
    .hero h3 {
        font-size: 1.5rem;
    }
}

.grid {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.grid li {
    height: 350px;
    margin: 1%;
    border-radius: 4px;
    background: content-box;
    background-size: cover;
    background-position: center;
}
.grid li.small {
    width: 35%;
}
.grid li.large {
    width: 60%;
}
.know-the-hotel {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 50px;
}
.know-the-hotel h2 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 35px;
    color: #191c03;
}
.know-the-hotel p {
    max-width: 800px;
    margin-bottom: 35px;
    text-align: center;
    color: #191c03;
}
.know-the-hotel hr {
    width: 200px;
    height: 2px;
    background: #191c03;
    margin-bottom: 70px;
    border: none;
}
@media (max-width: 700px) {
    .grid .small, .grid .large {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        flex-basis: 100%;
        width: 100%;
    }
}

.caracteristicas {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 50px;
    background: #191c03;
}
.caracteristicas h2 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 35px;
    color: white;
}
.caracteristicas p {
    margin-bottom: 35px;
    text-align: center;
    color: white;
}
.caracteristicas hr {
    width: 200px;
    height: 2px;
    background: white;
    margin-bottom: 70px;
    border: none;
}
.caracteristicas .grid {
    text-decoration: none;
    list-style: none;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.caracteristicas .grid li {
    padding: 0 30px;
    text-align: center;
    width: 350px;
    display: flex;
    flex-direction: column;

}
.caracteristicas .grid li i {
    color: #c3c63b;
    font-size: 3.5rem;
    margin-bottom: 30px;
}
.caracteristicas .grid li h3 {
    font-size: 1.5rem;
    color: #c3c63b;
    margin-bottom: 30px;
}
.caracteristicas .grid p {
    color: white;
}
@media (max-width:850px) {
    .caracteristicas .grid {
        flex-direction: column;
        align-items: center;
    }
}

.newsletter {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 50px;

}
.newsletter h3 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 35px;
    color: #c3c63b;
}
.newsletter p {
    margin-bottom: 35px;
    text-align: center;
    color: #c3c63b;
}
.newsletter hr {
    width: 200px;
    height: 2px;
    background: #c3c63b;
    margin-bottom: 70px;
    border: none;
}
.newsletter form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 80%;
    max-width: 800px;
}
.newsletter input {
    padding: 15px;
    border: 1px solid #c3c63b;
    border-radius: 4px;
    margin-right: 15px;
    flex: 1;
    outline: none;
}
.newsletter button {
    padding: 15px;
    background: #c3c63b;
    color: white;
    text-transform: uppercase;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
}
@media (max-width:850px) {
    .newsletter input {
        flex-basis: 100%;
        margin-bottom: 15px;

    }
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #191c03;
    padding: 50px 0;
}
footer ul {
    display: flex;
    margin-bottom: 25px;
}
footer li {
    margin-right: 10px;
}
footer li:last-child {
    margin-right: 0;
}
footer a {
    color: #c3c63b;
    font-size: 2rem;
}
footer p {
    color: #c3c63b;
    text-align: center;
}